@font-face {font-family: "Eina03-SemiBold"; src: url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.eot"); src: url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.woff") format("woff"), url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/b158925a1d762313849f2482a415369d.svg#Eina03-SemiBold") format("svg"); }

@font-face {font-family: "Eina03-Regular";
  src: url("//db.onlinewebfonts.com/t/221e88a3e872fdb19cdf5d76e2c26055.eot");
  src: url("//db.onlinewebfonts.com/t/221e88a3e872fdb19cdf5d76e2c26055.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/221e88a3e872fdb19cdf5d76e2c26055.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/221e88a3e872fdb19cdf5d76e2c26055.woff") format("woff"), url("//db.onlinewebfonts.com/t/221e88a3e872fdb19cdf5d76e2c26055.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/221e88a3e872fdb19cdf5d76e2c26055.svg#Eina03-Regular") format("svg"); }
  
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-menu {
  height: 108px;
  @include flexCenter();
  background: white;
  box-shadow: 0px 2px 3px 2px rgba(152, 152, 152, 0.25);
  border-radius: 4px;
  font-size: 18px;
  font-family: Eina03-SemiBold;
}
.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

  .ul-control {
  @include flexCenter();
  width: 469px;
  height: 60px;
  margin-top: 15px;
  margin-right: 110px;
  }
  .underline-grey {
  position: absolute;
  top: 81px;
  border-radius: 3px;
  width: 467px;
  height: 2px;
  opacity: 0.6;
  background: #E6E9ED;
  }
  /*Button style*/
  .dine-out-button, .reservation-button, .pick-up-button {
  @include flexCenter();
  width: 147px;
  height: 58.98px;
  background-color: white;
  border: none;
  border-radius: 0px;
  font-family: Eina03-SemiBold;
  line-height: 21px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  transition: background .2s ease;
  
  }
  .dine-out-button, .reservation-button, .pick-up-button:focus {
  outline: none;
  }
  .reservation-button:hover, .dine-out-button:hover, .pick-up-button:hover {
  transform: translateY(-2px);
  }
.img-space {
  margin: 5px;
}
.active {
  position: relative;
  z-index: 1;
  background-color:#8e97d4;
  border-bottom: 3px solid #5B6BC8;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: white !important;
}
.nav-link2 {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-menu {
  @include flexCenter();
}
.ul-control {
  @include flexCenter();
  text-decoration: none;
  list-style: none;
}
a:hover{
  color: black;
}


/*Date and Time style*/
.date-time-person-dropdown-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px
  
}
.date-time-form {
  @include flexCenter();
  width: 217px;
  height: 58px;
  background-color: #E4E7F3;
  border-radius: 3px;
  margin-right: 20px;
}

.input-style {
    width: 160px;
    height: 20px;
    opacity: 1;
    display: block;
    background-color: #E4E7F3;
    border:none;
    font-size: 14px;
    line-height: 16px;
    opacity: 1;
    margin-left: 5px;
    position: relative;
} 
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

input[type="datetime-local"]:before {
  color: transparent;
  background-image:url(./images/dropdown.png);
  background-repeat: no-repeat;
  content: '\f073';
  /* This is the calendar icon in FontAwesome */
  width: 15px;
  position: absolute;
  right: 0%;
  top: 40%;
}

.input-style:focus {
  outline: none;
}


/*Person Box*/
.person-box, .active-box-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 219px;
  height: 58px;
  border-radius: 3px;
  margin-right: 15px;
}
.person-box{
  background-color: #ebedf3;
}
.active-box-person{
  background: #ced3e7;
}
.person-paragrap {
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  left: 40px;
  
}
.person-icon {
  margin-left: 16px;
}
.dropdown-button2 {
  margin-right: 17px;
}
.button-dropdown {
  border:none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  
}

/*DropDown Menu For Person*/
.drop-down-menu-active {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 405px;
      height: 142px;
      right: 0px;
      top: 70px;
      background: #FFFFFF;
      box-shadow: -2px 4px 8px 2px rgba(70, 70, 70, 0.25);
      border-radius: 4px;
      user-select: none;
      font-family: Eina03-SemiBold;
}
.dropdown-inactive {
  display: none;
}
.first-row-drop-down, .first-half, .second-half, .second-row-drop-down {
  @include flexCenter();
}
.first-half{
  margin-left: 15px;
}
.second-half{
  margin-left: 15px;
  margin-top: -65px;
}
.img-space-person {
  margin: 11px;
  margin-left: -8px;
}
.button-space {
  margin: 7px;
}
.first-half {
  margin-right: 65px;
  margin-top: -67.5px;
  font-size: 20px;
}
.eina-font {
  font-family: Eina03-Regular;
}
.person-font {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.button-done {
  position: absolute;
  width: 135px;
  height: 42px;
  border: none;
  background: #FC6C44;
  border-radius: 4px;
  color: white;
  margin-top: 30px;
  right: 24px;
  bottom: 10px;
  cursor: pointer;
  outline: none;
}
.positioning-clear-paragrap {
    position: absolute;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.82px;
    color: rgba(78, 78, 78, 0.5);
    bottom: -3px;
    left: 22px;
    cursor: pointer;
    text-decoration: underline;
}
.column-divide-person-box {
  position: absolute;
  width: 405px;
  height: 1px;
  background: #D6D6D6;
  bottom: 66px;
  left: 0px;
}


