.section-menu {
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(152, 152, 152, 0.25);
          box-shadow: 0px 2px 3px 2px rgba(152, 152, 152, 0.25);
  border-radius: 4px;
  font-size: 18px;
  font-family: Eina03-SemiBold;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.ul-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 469px;
  height: 60px;
  margin-top: 15px;
  margin-right: 110px;
}

.underline-grey {
  position: absolute;
  top: 81px;
  border-radius: 3px;
  width: 467px;
  height: 2px;
  opacity: 0.6;
  background: #E6E9ED;
}

/*Button style*/
.dine-out-button, .reservation-button, .pick-up-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 147px;
  height: 58.98px;
  background-color: white;
  border: none;
  border-radius: 0px;
  font-family: Eina03-SemiBold;
  line-height: 21px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}

.dine-out-button, .reservation-button, .pick-up-button:focus {
  outline: none;
}

.reservation-button:hover, .dine-out-button:hover, .pick-up-button:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.img-space {
  margin: 5px;
}

.active {
  position: relative;
  z-index: 1;
  background-color: #8e97d4;
  border-bottom: 3px solid #5B6BC8;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  color: white !important;
}

.nav-link2 {
  margin-left: 15px;
  margin-right: 15px;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ul-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  list-style: none;
}

a:hover {
  color: black;
}

/*Date and Time style*/
.date-time-person-dropdown-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
}

.date-time-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 217px;
  height: 58px;
  background-color: #E4E7F3;
  border-radius: 3px;
  margin-right: 20px;
}

.input-style {
  width: 160px;
  height: 20px;
  opacity: 1;
  display: block;
  background-color: #E4E7F3;
  border: none;
  font-size: 14px;
  line-height: 16px;
  opacity: 1;
  margin-left: 5px;
  position: relative;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}

input[type="datetime-local"]:before {
  color: transparent;
  background-image: url(./images/dropdown.png);
  background-repeat: no-repeat;
  content: '\f073';
  /* This is the calendar icon in FontAwesome */
  width: 15px;
  position: absolute;
  right: 0%;
  top: 40%;
}

.input-style:focus {
  outline: none;
}

/*Person Box*/
.person-box, .active-box-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 219px;
  height: 58px;
  border-radius: 3px;
  margin-right: 15px;
}

.person-box {
  background-color: #ebedf3;
}

.active-box-person {
  background: #ced3e7;
}

.person-paragrap {
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  left: 40px;
}

.person-icon {
  margin-left: 16px;
}

.dropdown-button2 {
  margin-right: 17px;
}

.button-dropdown {
  border: none;
  background-color: transparent;
  outline: none;
}

/*DropDown Menu For Person*/
.drop-down-menu-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 405px;
  height: 142px;
  right: 0px;
  top: 70px;
  background: #FFFFFF;
  -webkit-box-shadow: -2px 4px 8px 2px rgba(70, 70, 70, 0.25);
          box-shadow: -2px 4px 8px 2px rgba(70, 70, 70, 0.25);
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: Eina03-SemiBold;
}

.dropdown-inactive {
  display: none;
}

.first-row-drop-down, .first-half, .second-half, .second-row-drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-half {
  margin-left: 15px;
}

.second-half {
  margin-left: 15px;
  margin-top: -65px;
}

.img-space-person {
  margin: 11px;
  margin-left: -8px;
}

.button-space {
  margin: 7px;
}

.first-half {
  margin-right: 65px;
  margin-top: -67.5px;
  font-size: 20px;
}

.eina-font {
  font-family: Eina03-Regular;
}

.person-font {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.button-done {
  position: absolute;
  width: 135px;
  height: 42px;
  border: none;
  background: #FC6C44;
  border-radius: 4px;
  color: white;
  margin-top: 30px;
  right: 24px;
  bottom: 10px;
}

.positioning-clear-paragrap {
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.82px;
  color: rgba(78, 78, 78, 0.5);
  bottom: -3px;
  left: 22px;
}

.column-divide-person-box {
  position: absolute;
  width: 405px;
  height: 1px;
  background: #D6D6D6;
  bottom: 66px;
  left: 0px;
}
/*# sourceMappingURL=Navbar.css.map */